@use "variables" as v;
@use "mixins";

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: black;
  color: white;

  .footer--section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    height: 90%;
    background-color: black;

    &__top {
      @include mixins.flexCenter;
      border-bottom: 2px solid gray;
      width: 95%;
      height: 49%;
    }

    &__bottom {
      @include mixins.flexCenter;
      width: 95%;
      height: 49%;
    }
  }
}
