@use "variables" as v;
@use "mixins";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: v.$darkbackground-color;
  color: white;

  .footer--section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    height: 90%;

    .socials-list {
      list-style: none;
      padding: 0;
      margin: 0;

      a {
        text-decoration: none;
        color: white;
      }

      .bi {
        margin-right: 10px;
      }

      li {
      }
    }

    &__top {
      @include mixins.flexCenter;
      flex-direction: column;
      border-bottom: 2px solid v.$text-light;
      width: 95%;
      height: 49%;
    }

    &__bottom {
      @include mixins.flexCenter;
      flex-direction: column;
      width: 95%;
      height: 49%;
    }
  }
}
