@use "variables" as v;
nav {
  height: 7vh;
  width: 100%;
  background-color: v.$primary-color;
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

.nav-line {
  height: 5px;
  width: 100%;
  background-color: #4e31aa;
  z-index: 10;
  position: absolute;
  float: left;
}

.nav-logo {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
}

h2 {
  position: absolute;
  color: v.$text-light;
  float: left;
  font-size: 24px;
  left: 45px;
  font-weight: 1000;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding-top: 5px;
}

#nav-bag-icon {
  position: absolute;
  color: white;
  font-size: 26px;
  right: 62px;
  cursor: pointer;
}

#nav-hamburger-icon {
  position: absolute;
  color: white;
  font-size: 33px;
  right: 12px;
  padding-top: 7px;
  cursor: pointer;
}
.main {
  position: absolute;
  height: 93vh;
  width: 100%;
  background-color: white;
  z-index: 3;
}
