@use "variables" as v;

.product--page {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: v.$primary-color;

  &__filter-container {
    height: 10%;
    width: 90%;
    background-color: v.$secondary-color;
  }
  &__products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 90%;
    width: 70%;

    div {
      width: 30%;
      height: 45%;
      background-color: red;
      background-color: v.$secondary-color;
    }
  }
}
