@use "variables" as v;

.product--page {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  background-color: v.$primary-color;

  .text-container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    h2 {
      font-size: 2em;
      color: v.$text-ultralight;
      margin: 10px 0px;
    }

    p {
      color: v.$text-light;
      margin: 10px 0px;
    }
  }

  &__filter-container {
    height: 100px;
    margin-bottom: 40px;
    width: 90%;
    border-radius: 5px;
    background-color: v.$secondary-color;
    padding: 10px;

    button {
      border: none;
      font-size: 1em;
      color: v.$text-dark;
      background-color: v.$text-light;
      border-radius: 5px;
    }
  }
  &__products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    height: 90%;
    width: 90%;
    margin: 0 0 50px 0;

    .product-card {
      border-radius: 5px;
      color: v.$text-light;
      width: 45%;
      box-shadow: 0px 5px 3px rgba($color: #101727, $alpha: 0.5);
      background-color: v.$secondary-color;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h3 {
        margin: 5px;
      }

      p {
        margin: 5px;
      }
      .productCardTop {
        width: 100%;
        height: 150px;
        border-radius: 5px;
        background-position: center;
        background-size: cover;
      }
      .addToCartBtn {
        width: 100%;
        height: 20px;
        border: none;
        font-size: 0.8em;
        color: v.$text-light;
        background-color: v.$text-dark;
        border-radius: 0px 0px 5px 5px;
      }

      .price-style {
        color: v.$text-ultralight;
      }
    }
  }
}
